[Unit]
Description=PowerNap
Requires=network.target
After=network.target

[Service]
Type=forking
ExecStartPre=/usr/share/powernap/powernap-ethtool
ExecStart=/usr/sbin/powernapd
ExecStop=-/usr/sbin/powerwake-now
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
